body{
    text-align: center;
    margin: auto;
}
h1{
    color : red;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    margin-top: auto;
    font-size: small;
    font-style: italic;
}